<?xml version="1.0" encoding="utf-8"?>
<!--Smoke Test environment -->
<RunSettings>
  <TestRunParameters>
    <Parameter name="OnlineUsername" value="easyrepro@treecatsoftware.com" />
    <Parameter name="OnlinePassword" value="TestUser123_" />
    <Parameter name="OnlineCrmUrl" value="https://orgede4762b.crm3.dynamics.com" />
    <Parameter name="BrowserType" value="Chrome" />
  </TestRunParameters>
</RunSettings>