<?xml version="1.0" encoding="utf-8"?>
<!--Smoke Test environment -->
<RunSettings>
  <TestRunParameters>
    <Parameter name="OnlineUsername" value="easyrepro@treecatsoftware.com" />
    <Parameter name="OnlinePassword" value="" />
    <Parameter name="OnlineCrmUrl" value="" />
    <Parameter name="BrowserType" value="Chrome" />
  </TestRunParameters>
</RunSettings>