<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="OnlineUsername" value="cdsUser" />
    <Parameter name="OnlinePassword" value="cdsPassword" />
    <Parameter name="OnlineCrmUrl" value="cdsUrl" />
    <Parameter name="BrowserType" value="Chrome" />
  </TestRunParameters>
</RunSettings>